ion-content .logo{
    width:100%;
    height:20%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 55%;
    }
}
ion-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    --background:#050507;//var(--ion-color-dark-black);
}
form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
    button{
        background-color: #413543;
        border-color: #413543;
        margin-top: 10px;
    }
    button:focus{
        background-color: #181818;
        border-color: #181818;
        
    }
    .form-floating{
        margin-top: 10px;
        
    }
    .form-floating::before{
        background-color:transparent;
        color:#b8b6b6;
    }
    input{
        background-color: #b8b6b6;
    }
    
    label{
        color:#b8b6b6;
    }
}
.form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    h2{
        color:#b8b6b6;
        text-align: center;
        
    }
}
.signIn{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    p{
        color:#b8b6b6;
        margin-right: 10px;
    }
    a{
        text-decoration: none;
        color:white;
        font-weight:bolder ;
    }
    position: absolute;
    bottom: 30px;
}

