
<ion-content [fullscreen]="true">
  <div class="search">
    <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
  </div>
  <div class="posts">
    <ion-list lines="inset">
      <ion-item *ngFor="let p of posts">
        <ion-card>
          <ion-card-header>
            
            <ion-card-subtitle>
              <ion-item>
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  {{user.displayName}} 
                </ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img [src]="p.image" alt="">
            <p class="descriptionimage">{{p.description | truncate:50 }}</p>
          </ion-card-content>
          
        
          <ion-button fill="clear" (click)="onLike()">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>2
          <ion-button fill="clear" (click)="comment()">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="onSave()">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-item>
      <!--
      <ion-item>
        <ion-card>
          <ion-card-header>
            
            <ion-card-subtitle>
              <ion-item>
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  Avatar Item
                </ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img src="../../assets/logo.png" alt="">
            <p>{{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis!" | truncate:50 }}</p>
          </ion-card-content>
          
        
          <ion-button fill="clear">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>2
          <ion-button fill="clear">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-card-header>
            
            <ion-card-subtitle>
              <ion-item>
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  Avatar Item
                </ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img src="../../assets/logo.png" alt="">
            <p>{{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis!" | truncate:50 }}</p>
          </ion-card-content>
          
        
          <ion-button fill="clear">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>2
          <ion-button fill="clear">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-item>
    -->
    </ion-list>
  </div>

  <!-- ion floating button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>New publication</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h3 style="margin-top: 50px;">Share your creativity with other photographers!</h3>
        <div class="imageInfos">
          <div class="formItem">
            <button class="btn btn-primary" type="button" (click)="inputImage.click()">Upload Image</button>
            <input type="file" #inputImage hidden (change)="onSelectImage($event)" [(ngModel)]='image' [ngModelOptions]="{standalone: true}"/>
          </div>
          <div class="formItem">
            <label for="small" class="form-label">Description <span style="color:red;">*</span>: </label>
            <textarea class="form-control text2" id="small" placeholder="Description" [(ngModel)]='description' [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

