
<ion-content [fullscreen]="true">
  <div class="search">
    <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
  </div>
  <div class="posts">
    <ion-list lines="inset">
      <ion-item>
        <ion-card>
          <ion-card-header>
            
            <ion-card-subtitle>
              <ion-item>
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  Avatar Item
                </ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img src="../../assets/logo.png" alt="">
            <p>{{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis!" | truncate:50 }}</p>
          </ion-card-content>
          
        
          <ion-button fill="clear">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>2
          <ion-button fill="clear">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-card-header>
            
            <ion-card-subtitle>
              <ion-item>
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  Avatar Item
                </ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img src="../../assets/logo.png" alt="">
            <p>{{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis!" | truncate:50 }}</p>
          </ion-card-content>
          
        
          <ion-button fill="clear">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>2
          <ion-button fill="clear">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-card-header>
            
            <ion-card-subtitle>
              <ion-item>
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  Avatar Item
                </ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img src="../../assets/logo.png" alt="">
            <p>{{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis!" | truncate:50 }}</p>
          </ion-card-content>
          
        
          <ion-button fill="clear">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>2
          <ion-button fill="clear">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <!-- ion floating button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>

