<ion-header>
  <ion-toolbar>
    <ion-title>User Name</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" id="open-modal">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-card id="topCard">
      <div class="userInfos">
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="infos">
            <ion-card color="light" class="infoCard">
              <p class="number">44</p>
              <p class="type">posts</p>
            </ion-card>
            <ion-card color="light" class="infoCard">
              <p class="number">2k</p>
              <p class="type">likes</p>
            </ion-card>
          </div>
        </ion-item>
      </div>
      
      </ion-card>
      <ion-card>
      <div class="myPosts">
        <h5><ion-icon name="grid-outline"></ion-icon> Gallery</h5>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col>
              <img src="../../assets/image1.jpg" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/image4.jpg" alt="">
            </ion-col>
            
          </ion-row>
        </ion-grid>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col>
              <img src="../../assets/image1.jpg" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/omaima.jpeg" alt="">
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </div>
     
    
      
    </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onClick()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>
<ion-modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <ion-item lines="none">
          <ion-icon name="settings-outline" class="bottomIcon"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="bookmark-outline" class="bottomIcon"></ion-icon>
          <ion-label>Saved</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
