

<ion-content [fullscreen]="true">

  <div id="container">
    <img src="../../assets/logo.png" alt="Application logo">
    <div class="title">
      <h2>Join a community of <br/> photographers</h2>
      <p>A simple, fun and creative way to share photos, messages with friends and creators.</p>
    </div>
    <div class="buttons">
      <ion-button shape="round" id="login" (click)="onSignIn()">Sign in</ion-button>
      <ion-button shape="round" id="signup" (click)="onSignUp()">Sign up</ion-button>
    </div>
    

  </div>
</ion-content>
